@media screen and (max-width: 413px) {
	.box {
		max-width: 320px;
		margin: auto;
	}

	.gallery,
	.details {
		display: none;
	}
}

@media screen and (min-width: 414px) {
	.box {
		width: 413px;
		margin: auto;
	}

	.gallery,
	.details {
		display: none;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	#navbar {
		display: none;
	}

	.box {
		width: 600px;
	}

	.poster {
		height: 190px;
		width: 135px;
	}

	.rating .stars {
		margin-left: -5px;
	}

	#coming .content {
		display: flex;
	}

	#description {
		margin-left: 10px;
	}

	/* Poster display when click */
	/* .gallery {
		display: block;
	}

	.details {
		display: none;
		opacity: 1;
		position: relative;
		color: black;
		transition: 0.8s;
		width: 600px;
		margin: 0 auto;
	}

	.details img {
		width: 600px;
		height: auto;
	}

	.details h1 {
		position: absolute;
		top: 0;
		left: 0;
		padding: 1%;
		font-size: 20px;
		background-color: rgba(245, 245, 245, 0.5);
		border-radius: 5px;
	}

	.details p {
		font-size: 14px;
		position: absolute;
		bottom: 7px;
		padding: 0 10px;
		background-color: rgba(245, 245, 245, 0.5);
		border-radius: 5px;
		text-align: left;
	} */

	.modal-outer {
		display: grid;
		background: hsla(50, 100%, 50%, 0.7);
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		/* Hide this modal until we need it */
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s;
	}

	.modal-outer img {
		width: 100%;
	}

	.modal-outer.open {
		opacity: 1;
		pointer-events: all;
	}

	.modal-inner {
		max-width: 500px;
		min-width: 100px;
		padding: 1rem;
		border-radius: 5px;
		min-height: 200px;
		background: white;
		transform: translateY(-100%);
		transition: transform 1s;
	}

	.modal-outer.open .modal-inner {
		transform: translateY(0);
	}

	/* .fade {
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}

		to {
			opacity: 1;
		}
	} */
}

@media screen and (min-width: 768px) {
	#wrapper {
		width: 768px;
		margin: 0 auto;
	}

	h1#logo a {
		background-size: 100%;
		height: 50px;
	}

	/* Navbar */
	#navbar {
		background: url(/images/body-bg.gif);
		position: relative;
		top: 20px;
		left: 150px;
		width: 450px;
	}

	#nav-links {
		flex-direction: row;
	}

	#nav-links li a {
		color: #fff;
		font-weight: bold;
	}

	#hamburger {
		display: none;
	}

	/* Sub navbar */
	#sub-navbar {
		margin-top: 20px;
		padding: 5px 0;
		display: flex;
	}

	#sub-navbar ul {
		flex: 1;
	}

	/* Search form */
	#search {
		display: flex;
	}

	#search label {
		color: #fff;
		font-size: 0.9rem;
		font-weight: bold;
		padding-right: 6px;
	}

	#search .search-field {
		width: 238px;
		border: 1px solid #413e3e;
		background: #000;
		color: #787878;
		padding: 2px 0 2px 2px;
	}

	#search .search-button {
		font-size: 0.9rem;
		font-weight: bold;
		border: 0;
		background: none;
		color: #fff;
	}

	/* Main */
	.box {
		width: 768px;
	}

	.poster {
		height: 250px;
		width: 175px;
	}

	.rating {
		width: 175px;
	}

	.rating .stars {
		margin-left: -50px;
	}

	#latter-section {
		display: flex;
		border-bottom: 1px dashed #413e3e;
	}

	#coming .content {
		display: flex;
	}

	#description {
		margin-left: 10px;
	}

	#news,
	#coming {
		border-bottom: none;
	}
}

@media screen and (min-width: 950px) {
	#navbar {
		left: 193px;
	}

	#wrapper {
		width: 850px;
	}

	.poster {
		height: 260px;
		width: 180px;
	}

	.rating {
		width: 180px;
	}

	.rating .stars {
		margin-left: -55px;
	}
}