@media screen and (max-width: 413px) {
	.modal-outer {
		display: none;
	}

	.box {
		max-width: 320px;
		margin: auto;
	}
}

@media screen and (min-width: 414px) {
	.modal-outer {
		display: none;
	}

	.box {
		width: 413px;
		margin: auto;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	.box {
		width: 600px;
	}

	.poster {
		height: 190px;
		width: 135px;
	}

	.rating .stars {
		margin-left: -5px;
	}

	#coming .content {
		display: flex;
	}

	#description {
		margin-left: 10px;
	}
}

@media screen and (min-width: 768px) {
	#wrapper {
		width: 768px;
		margin: 0 auto;
	}

	h1#logo a {
		background-size: 100%;
		height: 50px;
	}

	/* Navbar */
	#hamburger {
		display: none;
	}

	#navbar {
		background: url(images/body-bg.gif);
		position: relative;
		top: 20px;
		left: 150px;
		width: 445px;
		visibility: visible;
		opacity: 1;
		z-index: inherit;
	}
	
	#nav-links {
		flex-direction: row;
	}

	#nav-links li a {
		color: #fff;
		font-weight: bold;
	}

	/* Sub navbar */
	#sub-navbar {
		margin-top: 20px;
		padding: 5px 0;
		display: flex;
	}

	#sub-navbar ul {
		flex: 1;
	}

	/* Search form */
	#search {
		display: flex;
	}

	/* Main */
	.box {
		width: 768px;
	}

	.poster {
		height: 250px;
		width: 175px;
	}

	.rating {
		width: 175px;
	}

	.rating .stars {
		margin-left: -50px;
	}

	#latter-section {
		display: flex;
		border-bottom: 1px dashed #413e3e;
	}

	#coming .content {
		display: flex;
	}

	#description {
		margin-left: 10px;
	}

	#news,
	#coming {
		border-bottom: none;
	}

	/* Modal */
	.modal-outer {
		display: grid;
		background: hsla(0, 0%, 50%, 0.7);
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		/* Hide this modal until we need it */
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s;
	}

	.modal-outer img {
		width: 100%;
	}

	.modal-outer.open {
		opacity: 1;
		pointer-events: all;
	}

	.modal-inner {
		max-width: 1000px;
		min-width: 500px;
		padding: 1em;
		border-radius: 5px;
		min-height: 200px;
		background: white;
		color: black;
		font-size: 17px;
		transform: translateY(-100%);
		transition: transform 1s;
	}

	.modal-outer.open .modal-inner {
		transform: translateY(0);
	}
}

@media screen and (min-width: 950px) {
	#navbar {
		left: 193px;
	}

	#wrapper {
		width: 850px;
	}

	.poster {
		height: 260px;
		width: 180px;
	}

	.rating {
		width: 180px;
	}

	.rating .stars {
		margin-left: -55px;
	}
}