/* Styling logo */
header {
  position: relative;
  top: 5px;
}

h1#logo {
  position: absolute;
  top: 7px;
  left: 35px;
}

h1#logo a {
  float: left;
  width: 245px;
  height: 45px;
  background: url(/images/logo.gif);
  background-size: 70%;
  background-repeat: no-repeat;
  text-indent: -999px;
}

/* Styling hamburger menu */
#shrunken-menu {
  position: absolute;
  display: block;
  width: 96vw;
  top: 10px;
  cursor: pointer;
}

#check {
  position: absolute;
  right: 0;
  display: none;
}

#hamburger {
  background-color: rgb(19, 19, 19);
  height: 35px;
  width: 45px;
  border-radius: 5px;
  right: 8px;
  position: fixed;
}

#hamburger i {
  font-size: 25px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 5px;
}

/* Styling Navbar */
#navbar {
  background-color: #fff;
  position: fixed;
  top: 70px;
  width: 90vw;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-links li {
  list-style-type: none;
  margin: 0 auto;
}

#nav-links li a {
  font-size: 0.9rem;
  line-height: 2.4;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

#nav-links li a.active,
#nav-links li a:hover {
  color: #d91d2a;
  cursor: pointer;
}

/* Styling Sub-Navbar */
#sub-navbar {
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
  position: absolute;
  top: 75px;
  left: 20px;
  width: 90vw;
}

#sub-navbar ul {
  display: flex;
}

#sub-navbar ul li {
  list-style-type: none;
  padding-right: 23px;
}

#sub-navbar ul li a {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#sub-navbar ul li a:hover {
  text-decoration: underline;
}

/* Styling search form */
#search {
  display: none;
}

/* #search label {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  padding-right: 6px;
}

#search .search-field {
  width: 238px;
  border: 1px solid #413e3e;
  background: #000;
  color: #787878;
  padding: 2px 0 2px 2px;
  outline: none;
}

#search .search-button {
  font-size: 0.9rem;
  font-weight: bold;
  border: 0;
  background: none;
  color: #fff;
} */