/* Styling logo */
header {
  position: relative;
  top: 5px;
}

h1#logo {
  position: absolute;
  top: 7px;
  left: 20px;
}

h1#logo a {
  position: absolute;
  width: 245px;
  height: 45px;
  background: url(images/logo.gif);
  background-size: 70%;
  background-repeat: no-repeat;
  text-indent: -999px;
}

/* Styling hamburger menu */
button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

#hamburger {
  position: fixed;
  top: 13px;
  right: 20px;
}

/* Styling Navbar */
#navbar {
  background-color: #fff;
  position: fixed;
  top: 58px;
  left: 20px;
  right: 20px;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

#navbar.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
}

#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#nav-links li {
  list-style-type: none;
  margin: 0 10px;
  text-align: center;
}

#nav-links li a {
  font-size: 0.9rem;
  line-height: 2.4;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

#nav-links li a.active,
#nav-links li a:hover {
  color: #d91d2a;
  cursor: pointer;
}

/* Styling Sub-Navbar */
#sub-navbar {
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
  position: absolute;
  top: 75px;
  left: 20px;
  right: 20px;
}

#sub-navbar ul {
  display: flex;
}

#sub-navbar ul li {
  list-style-type: none;
  margin-right: 23px;
}

#sub-navbar ul li a {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#sub-navbar ul li a:hover {
  text-decoration: underline;
}

/* Styling search form */
#search {
  display: none;
}

#search label {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  padding-right: 6px;
}

#search .search-field {
  width: 238px;
  border: 1px solid #413e3e;
  background: #000;
  color: #787878;
  padding: 2px 0 2px 2px;
}

#search .search-button {
  font-size: 0.9rem;
  font-weight: bold;
  border: 0;
  background: none;
  color: #fff;
}