header {
  position: relative;
  left: 30px;
}

h1#logo {
  position: absolute;
  top: 37px;
}

h1#logo a {
  float: left;
  width: 255px;
  height: 49px;
  background: url(/images/logo.gif);
  background-repeat: no-repeat;
  text-indent: -999px;
}

/* Styling Navigation */
#navigation ul {
  display: flex;
  justify-content: flex-end;
  padding: 50px 0px 47px 0px;
}

#navigation ul li {
  list-style-type: none;
  padding-left: 29px;
}

#navigation ul li a {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

#navigation ul li a.active,
#navigation ul li a:hover {
  color: #d91d2a;
  cursor: pointer;
}

/* Styling Sub-Navigation */
#sub-navigation {
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
  padding: 8px 0;
  display: flex;
}

#sub-navigation ul {
  display: flex;
  flex: 1;
}

#sub-navigation ul li {
  list-style-type: none;
  padding-right: 23px;
}

#sub-navigation ul li a {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#sub-navigation ul li a:hover {
  text-decoration: underline;
}

/* Styling search form */
#search {
  padding-right: 5px;
}

#search label {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  padding-right: 6px;
}

#search .search-field {
  width: 238px;
  border: 1px solid #413e3e;
  background: #000;
  color: #787878;
  padding: 2px 0 2px 2px;
  outline: none;
}

#search .search-button {
  font-size: 0.9rem;
  font-weight: bold;
  border: 0;
  background: none;
  color: #fff;
}