@import url('https://fonts.googleapis.com/css?family=Overpass:400,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d3436;
  font-family: "Overpass", sans-serif;
  color: #ccc;
  background: url(/images/body-bg.gif);
}

h1 {
  font-size: 0.8rem;
  color: #f2a223;
}

#wrapper {
  width: 980px;
  margin: 0 auto;
}

#main {
  border-bottom: 1px dashed #413e3e;
  padding: 0 45px;
}

.movie-genres {
  padding: 14px 0;
}

.box {
  width: 980px;
  border-bottom: 1px dashed #413e3e;
  padding-bottom: 21px;
  display: flex;
  justify-content: center;
}

.poster {
  padding-right: 15px;
  /* opacity: 0.5; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.8s;
}

.poster:hover {
  background-color: #333;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.poster:active {
  opacity: 1;
}

/* .gallery {
  display: flex;
  justify-content: center;
} */

.details {
  display: none;
  margin: 10px;
  opacity: 1;
  position: relative;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.8s;
}

.details h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  padding: 1%;
  background-color: #49505f;
  opacity: 0.8;
  font-size: 30px;
}

/* p {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1%;
  background-color: #333;
  opacity: 0.8;
  text-align: left;
} */

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}