@import url("https://fonts.googleapis.com/css?family=Overpass&display=swap");

body {
  background-color: #2d3436;
  font-family: "Overpass", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
}
.poster {
  margin: auto;
  background-color: antiquewhite;
  padding: 2%;
  opacity: 0.5;
}
.poster:hover {
  background-color: greenyellow;
  opacity: 1;
  cursor: pointer;
}
.poster:active {
  opacity: 1;
}
.gallery {
  display: flex;
  justify-content: center;
}
.details {
  display: none;
  margin: 10px;
  background-color: antiquewhite;
  padding: 2%;
  opacity: 0.5;
}
