@import url("https://fonts.googleapis.com/css?family=Overpass:400,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  color: #ccc;
  background: url(images/body-bg.gif);
}

a {
  color: #e7b038;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

#main {
  border-bottom: 1px dashed #413e3e;
  padding-top: 120px;
}

.head {
  padding-top: 5px;
}

.head h1 {
  font-size: 0.7rem;
  color: #f2a223;
  padding-bottom: 10px;
  padding-left: 20px;
}

.box {
  border-bottom: 1px dashed #413e3e;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 7px 5px;
  cursor: pointer;
}

.poster {
  transition: 0.8s;
  height: 160px;
  width: 130px;
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.rating p {
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}

.rating .stars {
  width: 60px;
  height: 12px;
  background: url(images/stars.gif) no-repeat 0 bottom;
}

.rating span {
  font-size: 12px;
}

.comments {
  background: url(images/comments.gif) no-repeat 0 3px;
  padding-left: 12px;
}

/* Styling News and Coming Soon section */
#news,
#coming {
  margin: 0 25px;
  border-bottom: 1px dashed #413e3e;
}

#news .head h3,
#coming .head h3 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
}

.content {
  margin: 2px 0 30px 0;
  color: white;
  line-height: 1.4;
}

.content .date {
  font-size: 0.65rem;
}

.content p,
.content a {
  font-size: 0.85rem;
}

.content h4,
.content-container h4 {
  color: #e7b038;
  font-size: 0.9rem;
}

/* Styling footer */
footer {
  margin: 10px 25px;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 0.7rem;
}