@import url("https://fonts.googleapis.com/css?family=Overpass:400,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #2d3436; */
  font-family: "Overpass", sans-serif;
  color: #ccc;
  background: url(/images/body-bg.gif);
}

h1 {
  font-size: 0.7rem;
  color: #f2a223;
  margin-left: -15px;
}

a {
  color: #e7b038;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  width: 980px;
  margin: 0 auto;
}

#main {
  border-bottom: 1px dashed #413e3e;
  padding: 0 45px;
}

.head {
  padding: 14px 0;
}

.box {
  width: 1000px;
  border-bottom: 1px dashed #413e3e;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-between;
}

.poster {
  padding-right: 13px;
  /* opacity: 0.5; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.8s;
}

.poster:hover {
  /* background-color: #333; */
  opacity: 1;
  cursor: pointer;
}

.poster:active {
  opacity: 1;
}

.rating {
  width: 152px;
  padding-top: 2px;
  display: flex;
  justify-content: space-between;
}

.rating p {
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}

.rating .stars {
  width: 60px;
  height: 11px;
  background: url(/images/stars.gif) no-repeat;
  margin-left: -35px;
}

.rating.stars-in {
  display: inline;
  background: url(/images/stars.gif) no-repeat 0 bottom;
  position: absolute;
}
.comments {
  background: url(/images/comments.gif) no-repeat;
}

.gallery {
  display: flex;
  /* justify-content: center; */
}

.details {
  display: none;
  margin: 10px;
  opacity: 1;
  position: relative;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.8s;
  /* left: 0;
  top: 5rem; */
}
.gallery.fade {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 1000px;
}
.details img {
  width: 980px;
  height: auto;
}
.details h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  padding: 1%;
  background-color: #49505f;
  opacity: 0.8;
  font-size: 30px;
}
.details p {
  position: absolute;
  width: 600px;
  top: 90%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1%;
  background-color: #333;
  opacity: 0.8;
  text-align: left;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
